body {
  background-color: #7F669D;
}


h1 {
      display: block;
      font-size: 2em;
      margin-top: 0em;
      margin-bottom:  6.9em;
      margin-left: 1em;
      margin-right: 1em;
      font-weight: bold;
  }
